
@media (min-width: 700px) {
    .container {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 66px !important;
    }
}